@import "variables";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: $bg-c;
  color: $text-c;
  font-family: $text-f;
}

body {
  max-height: 100%;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: $accent-c;
  &:hover {
    color: $hover-c;
    text-decoration: underline;
  }
}

p {
  margin-bottom: 1.5ex;
  line-height: 1.2;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $heading-f;
    font-size: #{26px - $i*2};
    font-weight: bold;
    margin: 1ex 0;
  }
}