@import "variables";

main {
  width: $content-w;
  max-width: $content-mw;
  margin: auto;
  padding-bottom: calc(#{$footer-h} + 5vh);
  > :first-child {
    padding-top: $header-h;
  }

  li {
    margin: .5ex 0;
    list-style: disc;
    margin-left: 5%;
  }
}

table {
  width: 100%;
  text-align: center;
  th, td {
    border: 0 solid $text-c;
    border-width: 0 1px;
    border-collapse: collapse;
    padding: .5vh 1vw;
  }
  caption {
    font-family: "Playfair Display";
    margin: .5vh 0;
    font-size: .9em;
  }
  thead {
    background-color: #888;
    color: $bg-c;
  }
  tbody {
    font-family: "Ubuntu Mono";
    border-bottom: 1px solid $text-c;
    tr:nth-child(2n+1) {
      background-color: #eee;
    }
  }
}

figure {
  overflow-x: auto;
}
