@import "variables";

main {
  width: $content-w;
  max-width: $content-mw;
  margin: auto;
  padding-bottom: calc(#{$footer-h} + 5vh);
  > :first-child {
    padding-top: $header-h;
  }

  li {
    margin: .5ex 0;
    list-style: disc;
    margin-left: 5%;
  }
}

article {
  li {
  }
}