@import "variables";

footer {
  width: 100%;
  height: $footer-h;

  background-color: $bg-c;

  position: fixed;
  bottom: 0;
  padding-right: 5vw;

  display: flex;
  justify-content: end;
  align-items: center;

  .Footer-Text {
    .--desktop {
      display: none;
    }
  }

  a {
    color: $text-c;
    text-decoration: underline;
    margin-left: 2vw;
    &:hover {
      color: $accent-c;
    }
  }
}
