@import "variables";

footer {

  width: 100%;
  height: $footer-h;

  background-color: $bg-c;

  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 5vw;

  a {
    color: $text-c;
    text-decoration: underline;
    &:hover {
      color: $accent-c;
    }
  }
  nav {
    a, span {
      margin-left: 2vw;
    }
  }
}