@import "variables";
header {
  position: fixed;
  top: 0;

  width: 100%;
  height: $header-h;
  padding-top: 5vh;
  padding-bottom: 2vh;
  margin-left: 10vw;

  background-color: $bg-c;
  transition: top .5s;
  transition: margin-left .5s;
  transition: padding .5s;

  img {
    height: 100%;
    max-width: 100px;
    max-height: 100px;
  }
}
