@media (min-width: 600px) {
  footer {
    .Footer-Text {
      .--desktop {
        display: block;
      }
      .--mobile {
        display: none;
      }
    }
  }
}

@media (min-width: 1200px) {
  header {
    top: 10vh;
    margin-left: 15vw;
    width: 0;
    padding: 0;
  }
}