$bg-c: #fffefc;
$main-c: #242424;
$text-c: #242424;
$accent-c: #be2e2e;
$hover-c: #7a352c;

$content-w: 80vw;
$content-mw: 30em;
$header-h: 15vh;
$footer-h: 6vh;

$heading-f: "Playfair Display", serif;
$text-f: "Vollkorn", serif;
$mono-f: "Ubuntu Mono", monospace;
