<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ site.baseurl }}/css/style.css"
    />
    {% if page.includeStyle %}
    <link rel="stylesheet" href="style.css" />
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Vollkorn|Playfair+Display|Ubuntu+Mono"
    />
  </head>
  <body>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    {% include header.html %}
    <main>{{content}}</main>
    {% include footer.html %}
  </body>
</html>
